.card{
   width: 500px;
   margin: 0px auto;
   background: rgba(26, 24, 24, 0.881);
   border-radius: 5px;
   display: flex;
   flex-direction: row;  
   justify-content: space-between;
   padding: 20px 15px;
   margin-top: 4px ;
}